<div class="card">
    <!-- 1 way binding: interpolation, e.g. {{ pageTitle }} -->
    <div class="card-header">
        {{ pageTitle }}
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>

            <div class="col-md-4">
                <!-- 2 way binding, e.g. [(ngModel)]="listFilter" -->
                <!-- ngModel comes from FormsModule, should be added to imports array in the appropriate module (in this case app.module.ts) -->
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{ listFilter }}</h4> 
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <!-- 1 way binding: event binding, e.g. (click)="toggleImage()" -->
                            <button class="btn btn-primary" (click)="toggleImage()">
                                {{ showImage ? "Hide" : "Show" }} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let p of products">
                        <td>
                            <!-- 1 way binding: property binding, e.g. [src]="p.imageUrl" -->
                            <img *ngIf="showImage" [src]="p.imageUrl"
                                                    [title]="p.productName"
                                                    [style.width.px]="imageWidth"
                                                    [style.margin.px]="imageMargin">
                        </td>
                        <td>{{ p.productName }}</td>
                        <!-- Built-in pipes, e.g. | lowercase -->
                        <td>{{ p.productCode | lowercase}}</td>
                        <td>{{ p.releaseDate }}</td>
                        <td>{{ p.price | currency:"USD":"symbol":"1.2-2" }}</td>
                        <td>{{ p.starRating }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>